PORT=10000
MONGODB_URI=mongodb+srv://USER:PASS@cluster0.xcb32pp.mongodb.net/tecnopos?appName=Cluster0
JWT_SECRET=cambia-este-secreto-largo
CLIENT_ORIGIN=https://tecnopos.onrender.com
SEED_ON_BOOT=true
NODE_ENV=production
